/*--------------------------login and signup-----------------------*/
.log-body {
    background: #cf3d18; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff9068, #cf3d18); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff9068, #cf3d18);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.log-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 75%;
    box-shadow: 5px 10px 18px #2c2828;
    border-radius: 1vh;
}

.log-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #52f5b4;
    height: 100%;
    border-radius: 0vh 1vh 1vh 0vh;

}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    width: 50%;
    border-radius: 1vh 0vh 0vh 1vh;
    padding-right: 3%;


}

.nav-tabs .nav-link.active {
    background-color: inherit !important;
    color: #fff !important;
    font-weight: bold;
    margin-bottom: 25%;
}

.nav-link {
    color: rgb(175, 169, 169);
    text-decoration: none;
    background-color: transparent !important;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    border: none !important;
    margin: 5px;
}

.nav-link:hover {
    color: #fff;
    border: none;
}

.nav-link.active {
    border: none;
    border-bottom: 2px solid #fff !important;
}

.enter-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.user-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 90%;
}

.username {
    color: #fff;
    width: 60%;
    margin-right: 3%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    outline: none;
}

.icon {
    margin-top: 15px;
}

.logbtn {
    background-color: #52f5b4;
    outline: none !important;
    border: none;
    border-radius: 5vh;
    margin: 18%;
    width: 40%;
    padding: 2%;
    font-weight: bold;
    box-shadow: 2px 5px 13px #181515;

}

.logbtn:hover, .logbtn:focus {
    transform: scale(1.1);
    box-shadow: 5px 12px 20px #0e0d0d;
}

/*---------------------------------register modal-------------------------*/
.modal-content {
    background: #A1FFCE;
    background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);
    background: linear-gradient(to bottom, #FAFFD1, #A1FFCE);
    margin-top: 42%;
}

.modal-title {
    margin-left: 38%;
    color: rgb(36, 36, 59)
}

.modal-header {
    border: none
}

.modal-body {
    margin-left: 45%;
}

.modal-footer {
    direction: rtl;
    border: none
}

.registerdiv {
    width: 473px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    font-weight: bold;
}

.charityreg {
    width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    direction: rtl;
    margin-top: 12%;
}

.reg {
    width: 60%;
}

.reg input {
    margin-right: 1%;
    border-radius: 5vh;
    padding: 3px;
    margin-top: 3%;
    outline: none !important;
}

/*-------------------------------navbar---------------------------*/
.charityNav {
    direction: rtl;
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    border: none;
    border-bottom: 2px solid #1a2b3f;
    box-shadow: 2px 3px 7px #534d4d;
}

.nav-link {
    color: #fff;
}

.logOutbtn {
    position: absolute;
    top: 22%;
    left: 5%;
}

.btn-danger {
    font-weight: bolder;
    padding: 7px 20px;
}

/*------------------------------task page---------------------------*/
.taskPage {
    display: flex;
    flex-direction: column;
    background-color: #f1eded;
    height: 100%;
    min-height: 88vh;

}

.searchBar {
    background: #11998e;
    background: -webkit-linear-gradient(to left, #6bd393, #11998e);
    background: linear-gradient(to left, #6bd393, #11998e);
    align-self: center;
    height: 100%;
    min-height: 15vh;
    width: 80%;
    margin-top: 5%;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgb(175, 170, 170);
    box-shadow: 0 0 10px rgb(175, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input {
    margin: auto 5px;
    width: 30%;
}

.searchBar > .btn-warning {
    width: 13%;
    font-weight: bold;
}

.searchBar select {
    margin: auto 5px;
    width: 20%;
    height: 6vh;
    border: none;
    border-radius: 3px;
    outline: none;
}

.taskContainer {
    align-self: center;
    height: 100%;
    min-height: 48vh;
    margin-bottom: 5%;
    width: 80%;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgb(175, 170, 170);
    box-shadow: 0 0 10px rgb(175, 170, 170);
    display: flex;
    flex-direction: column;
}

.job-header {
    font-size: x-large;
}

.task-partition {
    width: 70%;
    align-self: center;
    margin: auto auto 5% auto;
    border: none;
    border-bottom: 1px solid rgb(138, 136, 136);
    padding: 10px;


}

.taskbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.requirements p {
    text-align: right;
    padding: 2px;
    font-size: medium;
}

.task-header {
    text-align: right;
    padding: 10px;
}

.applybtn {
    border: none;
    align-self: center;
    padding: 7px 15px;
    border-radius: 5vh;
    font-weight: bold;
}

/*-------------------------------profile---------------------------*/
.bene-container {
    direction: rtl;
    height: 100%;
    min-height: 100vh;
    background-image: url(back1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demographic-container {
    width: 80%;
    height: 100%;
    min-height: 80vh;
    background-color: rgba(220, 238, 228, 0.541);
    border-radius: 5px;
    margin-top: 5%;
    direction: rtl;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.demand-container {
    width: 80%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(220, 238, 228, 0.377);
    border-radius: 5px;
    margin: 5%;
}

.col, .form-group {
    margin: 2%;
}

.col > .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 10% 40% auto auto;
} 